.app {  
    display: flex;
    flex-direction: column;
    height: 100%;
   //  background-image: url(../assets/mountains-stars-bc.jpg);
   //  background-repeat: no-repeat;
   //  background-size: cover;
}