.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 8px;
    background-repeat: no-repeat;
   //  background-color: whitesmoke;
    background-image: url('~@/assets/gradient.jpg');
    background-size: cover;
    .main{
       height: 93.1vh;
    }
    .darkWindow{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.64);
      z-index: 10;
      cursor: pointer;
    }
}
