.board-wrapper {
    display: flex;
    flex-direction: column;

    .board-canvas {
        display: flex;
        gap: 10px;
        margin-left: 8.5px;
    }

    // .board-groups {
    //     display: flex;
    //     gap: 25px;
    // }
}
