.boards-page{
   // background-image: url('~@/assets/gradient.jpg');
   // background-size: cover;
   background-color:#fadec0;
   .title{
      margin: 30px auto 0;
      text-align: center;
      font-size: 2.5rem;
      color:rgb(116, 116, 116)
   }
   .container{
      display: grid;
      grid-template-columns:1fr minmax(340px, 1180px) 1fr;
      // background-image: url('~@/assets/gradient.jpg');
      // background-size: cover;
      background-color:#fadec0;
      padding-bottom: 50px;
     .boards-list{
      grid-column: 2;
         margin: auto;
         margin-bottom: 30px;        
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         gap:30px;
         flex-wrap: wrap;
         .boards-preview{
            width: 330px;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            position: relative;
            
            .title-container{
               position: absolute;
               min-height: 35px;
               width:100%;
               padding: 5px 10px;
               border-top-right-radius: 10px;
               border-top-left-radius: 10px;
               background-color: rgba(0, 0, 0, 0.493);
               color:white;
               display: flex;
               justify-content: space-between;
               align-items: center;
                .title-board{
                  font-size: 1.4rem;
                  font-weight: 600;
                  
               }
               .star{
                  font-size: 1.6rem; 
                  &.is-stared{
                     color:gold;
                  }
               }
            }
            .background{
               background-image: url('https://wallpaperaccess.com/full/109672.jpg');
               background-size: cover;
               cursor: pointer;
               position: absolute;
               top:50px;
               border-radius: 10px;
               width: 330px;
               height: 200px;
               margin: 0px;
               display: flex;
               justify-content: center;
               transition: transform 0.3s !important;
               &:hover{
                  transform: scale(1.05);
               }
               .icon{
                  align-self: center;
                  color:rgb(255, 255, 255);
                  font-size: 4rem;
                  z-index: 9;
               }
               transition: opacity 1s;
            }
         }
      }
   }
}