.board-wrapper {
    display: flex;
    flex-direction: column;
    .board-canvas {
        & > div:first-child {
            display: flex;
            gap: 8px;
            height: fit-content;

            & > * { 
                height: fit-content;
            }
        }

        display: flex;
        gap: 8px;
        margin-left: 8.5px;
        max-width: 100vw;
        height: 100%;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            height: 12px;
            width: 12px;
            /* width: 7.5px; */
            border-radius: 20px;
        }

        /* Track */

        &::-webkit-scrollbar-track {
            /* border-radius: 20px; */
            // background: #f1f1f1;
            // background: #ffffff;
            background: rgba(0, 0, 0, 0.2);
            //    background: rgba(0,0,0,.15);
            padding-top: 5px;
            border-radius: 7px;
            width: 100%;
        }

        // &::-webkit-scrollbar-track:hover {
        //     background-color: rgb(228, 228, 228);
        // }

        /* Handle */

        &::-webkit-scrollbar-thumb {
            /* border-radius: 130px; */
            // background-color: darkgoldenrod;
            // background: linear-gradient(
            //     0deg,
            //     rgba(34, 195, 191, 1) 0%,
            //     rgb(59, 85, 84) 30%,
            //     rgb(126, 56, 167) 70%,
            //     rgb(243, 97, 214) 100%
            // );
            background-color: #a3abaf7a;
            // background-color: #83919a;
            border-radius: 5px;
        }

        &::-webkit-scrollbar-button {
            display: block;
            height: 4px;
            width: 4px;
        }

        /* Handle on hover */

        // &::-webkit-scrollbar-thumb:hover {
        //     background: #8b8b8b;
        //     cursor: pointer;
        // }
    }

    // .board-groups {
    //     display: flex;
    //     gap: 25px;
    // }
}
