.card-details{
   position:absolute;
   top:0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.349);
   overflow-y: scroll;
   .card-container{
      width: 56vw;
      height: 500px;
      background-color: #fff;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      display: grid;
      grid-template-columns: 4fr 1fr;
      grid-template-rows: 1fr 7fr;
  
      .header{
         grid-column: 1/3;
         grid-row: 1/2;
         background-color: red;
      }
      .main{
         grid-column: 1/2;
         grid-row: 2/3;
         background-color: rgb(24, 103, 206);
      }
      .nav{
         grid-column: 2/3;
         grid-row: 2/3;
         background-color: rgb(2, 224, 31);
      }
   }
}