.card-details {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.64);
   overflow-y: scroll;
   cursor: pointer;
   display: grid;
   min-height: 600px;
   max-height: fit-content;
   grid-template-columns: 1fr minmax(300px, 700px) 1fr;
   z-index: 10;
   .card-container {
      grid-column: 2;
      z-index: 25;
      cursor: auto;
      background-color: #f4f5f7;
      position: relative;
      top: 50px;  
      color: #172b4da2;
      display: grid;
      padding-bottom: 1rem;
      grid-template-columns:16px 4fr 1fr 16px;
      grid-template-rows:85px 85px 1fr;
      border-radius: 2px;
      .icon {
         color: #42526ea9;
      }
      .cover{
         grid-column: 1/-1;
         grid-row: 1/2;
      }
      .header {
         grid-column: 2/4;
         grid-row: 1/2;  
         &.is-cover{
            grid-row: 2/3;
            & .close{
               background-color: rgba(119, 119, 119, 0.219);
               &:hover{
                  background-color: rgba(119, 119, 119, 0.37);
               }
            }
         }
         display: flex;
         align-items: flex-start;
         padding-top: 1rem;
         .icon-title {
            padding: 9px 0;
            width: 24px;
            transform: rotate(180deg);
         }
         .titles {
            flex-grow: 1;
            padding: 4px 12px;
            .main-title {
               font-size: 1.4rem;
               border: 0;
               color: #172b4de5;
               background-color: inherit;
               font-weight: 600;
               width: 95%;
               padding: 5px 0;
               font-family: Segoe-UI;
               &:focus {
                  background-color: #fff;
                  padding: 5px 5px;
                  outline:2px solid $clr-outline;
               }
            }
            .sub-title {
               font-size: rem(14px);
               color: #5e6c84;
               font-weight: 400;
            }
         }
         .close {
            width: rem(40px);
            height: rem(40px);
            padding: 8px;
            position: absolute;
            right: 8px;
            top: 8px;
            justify-self: flex-end;
            cursor: pointer;
            border-radius: 20px;
            &:hover {
               background-color: rgb(226, 226, 226); 
            }
         }
      }
      .main {
         grid-column: 2/3;
         grid-row: 2/3;
         &.is-cover{
            grid-row: 3/4; 
            
         }
         padding-right: 8px;
         .title{
            color:rgba(36, 36, 36, 0.774);
         }
         .description {
            margin-top: 5px;
            display: grid;
            grid-template-columns: 24px 1fr;
            grid-template-rows: 30px 1fr;
            .description-text {
               margin-top: 12px;
               margin-left: 8px;
               padding: 8px 0;
               white-space: pre-line;
               flex-grow: 1;
               max-width: 70ch;
               min-width: 30ch;
               min-height: 7ch;
               cursor: pointer;
               &:focus {
                  padding: 8px 12px;
                  min-height: 15ch;
                  background-color: #fff;
                  outline: 2px solid $clr-outline;
                  cursor: text;
               }
               &:empty {
                  padding: 8px 12px;
                  background-color: rgb(231, 231, 231);
                  &::before {
                     content: attr(placeholder);
                  }
                  &:hover {
                     background-color: rgb(223, 223, 223);
                  }
                  &:focus {
                     background-color: #fff;
                  }
                  &:not(:focus) {
                     min-height: 7ch;
                  }
               }
            }
         }

         .material-icons-outlined {
            padding-top: 5px;
         }
         .item-add-btn {
            padding: 6px;
            background-color: #eaecf0;
            border-radius: 50%;
            display: flex;
            &:hover {
               background-color: darken(#eaecf0, 3);
            }

            // .list-labels & {

            // }

            .material-icons-outlined {
               padding-top: unset;
               font-size: 20px;
               color: #4a5974;
               font-weight: 100;
            }
         }

         .info-section {
            display: flex;
            flex-wrap: wrap;
            &>*{
               margin-bottom:10px;
            }
            
         h1{
            color: #5e6c84;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            display: block;
            line-height: 20px;
            margin: 0 8px 2px 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-weight: 600;
         }
         .members {
           
            // h1 {
            //    color: #5e6c84;
            //    font-size: 12px;
            //    font-weight: 500;
            //    letter-spacing: 0.04em;
            //    text-transform: uppercase;
            //    display: block;
            //    line-height: 20px;
            //    margin: 0 8px 2px 0;
            //    white-space: nowrap;
            //    text-overflow: ellipsis;
            //    overflow: hidden;
            //    font-weight: 600;
            // }

            .list-members {
               
               padding: 0 0 0 8px;
               display: flex;
               flex-direction: row;
               align-items: center;
               gap: 4px;

               & > *:hover {
                  cursor: pointer;
               }
            }
         }

         .labels {

            // h1 {
            //    color: #5e6c84;
            //    font-size: 12px;
            //    font-weight: 500;
            //    letter-spacing: 0.04em;
            //    text-transform: uppercase;
            //    display: block;
            //    line-height: 20px;
            //    margin: 0 8px 2px 0;
            //    white-space: nowrap;
            //    text-overflow: ellipsis;
            //    overflow: hidden;
            //    font-weight: 600;
            // }
            .list-labels {
               //    padding: 0 8px;
               //    display: flex;
               //    flex-direction: row;
               //    align-items: center;
               //    gap: 4px;
               .item-add-btn {
                  min-width: 20px;
                  max-width: 32px;
                  border-radius: 3px;
                  display: flex;
                  justify-content: center;
               }

               & > *:hover {
                  cursor: pointer;
               }
            }
            .preview-label {
               // min-width: 10px;
               // min-height: 10px;
               // border-radius: 3px;
               // padding: 0 12px;
               border-radius: 3px;
               box-sizing: border-box;
               display: block;
               float: left;
               font-weight: 600;
               height: 32px;
               line-height: 32px;
               margin: 0 4px 4px 0;
               min-width: 40px;
               padding: 0 12px;
               width: auto;
               color: #ffffff;
               // padding: 0px 8px;
            }
         }
         .date{
            .date-main{
               background-color: rgba(9, 30, 66, 0.055);
               height: 30px;
               border-radius: 3px;
               padding: 4px 8px;
               margin-top: 6px;
               display: flex;
               justify-content: center;
               align-items: center;
               gap:5px;
               cursor: pointer;
               .complete{
                  background-color: rgba(0, 177, 0, 0.685);
                  color:white;
                  border-radius: 3px;
                  letter-spacing: 0.8px;
                  font-size: 0.825em;
                  padding: 0 5px 2px;
                  
               }
            }
         }
      }
         .attachments {
            .imgs-container {
               display: flex;
               flex-wrap: wrap;
               gap: 10px;
               .img-container {
                  display: flex;
                  flex-direction: column;
                  position: relative;
                  overflow-x: hidden;
                  &:hover {
                     .delete-img {
                        right: 0;
                        transition: right 0.5s;
                     }
                  }
                  img {
                     width: 215px;
                  }
                  .delete-img {
                     position: absolute;
                     top: 0;
                     right: -20px;
                     transition: right 0.5s;
                     padding: 0;
                     cursor: pointer;
                     color: rgb(255, 0, 0);
                     font-weight: 400;
                  }
               }
            }
         }
         .checklists-list{
            grid-column: 1/-1;
            display: flex;
            flex-direction: column;
            gap:30px;
            padding-left: 0;
            overflow-x: hidden;
            .checklist-preview{
               display: flex;
               flex-direction: column;
               .main-checklist{
                  padding-right: 0;
                  position: relative;
                  .scroll-container{
                     margin-top: 8px;
                     display: flex;
                     align-items: center;
                     justify-content: flex-start;
                     margin-bottom: 20px;
                     gap:10px;
                     // width: 200px;
                     .percent{
                        position:relative;
                        left: 4px;
                        font-size: 0.8em;
                     }
                     .scroll{
                        margin-left: 7px;
                        width: 100%;
                        height: 10px;
                        border-radius: 5px;
                        background-color: rgb(218, 218, 218);
                        display: flex;
                        .scroll-done{
                           background-color: rgb(40, 52, 230);
                           border-radius: 5px;
                           height: 10px;
                           transition: width 1s;
                           &.all-done{
                              background-color: rgb(79, 196, 25);
                           }
                        }
                     }
                  }
                  .checkbox-preview{
                     display: flex;
                     justify-content: flex-start;
                     align-items: center;
                     gap:17px;
                     padding: 8px 2px;
                     cursor: pointer; 
                     
                     &:hover{
                        background-color: rgba(9, 30, 66, 0.04);
                        & .delete{
                           right:0;
                           transition: right 0.3s;
                        }
                     }
                     .info{
                        background-color: unset;
                        border:0;
                        padding: 4px 0;
                        color:#172b4db2;
                        width: 85%;
                        &.is-done{
                           text-decoration: line-through;
                        }
                        &:focus{
                           padding: 4px 8px;
                           outline:2px solid rgb(207, 207, 207);
                           border-radius: 5px;
                        }
                        
                     }
                     .delete{
                        position: absolute;
                        right: -20px;
                        transition: right 0.3s;
                        margin-bottom: 5px;
                        font-size: 1.5rem;
                        cursor: pointer;
                     }
                  }
                  .all-item-container{
                     margin-left: 32px;
                     .open-input{
                        margin-top: 20px;
                     }
                     .add-item{
                        outline: none;
                        border: none;
                        box-shadow: inset 0 0 0 2px $clr-outline;
                        background-color: #fafbfc;
                        border-radius: 3px;
                        line-height: 20px;
                        margin-top: 20px;
                        padding: 8px 12px;
                        width: 100%;
                     }
                     .buttons{
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
                        gap:10px;
                        .add{
                           height: 30px;
                           padding: 8px 16px;
                        }
                        .close{
                           margin-bottom: 5px;
                           font-size: 2rem;
                           cursor: pointer;
                        }
                     }
                  }
               }
            }
         }
         .activity,.checklist {
            .header-activity,.header-checklist {
               display: flex;
               justify-content: space-between;
               align-items: center;
            }
            .main-activity {
               margin-top: 15px;
               grid-column: 1/-1;
               padding: 0;
               .comment-line {
                  position: relative;
                  padding: 10px 0;
                  display: flex;
                  justify-content: space-between;
                  .avatar {
                     position: relative;
                     right: 5px;
                  }
                  .comment-textarea {
                     flex-grow: 1;
                     font-size: 1rem;
                     min-height: 30px;
                     padding: 10px;
                     background: #fff;
                     box-shadow: 0px 1px 2px 1px rgba(212, 212, 212, 0.46);
                     outline:1px solid rgba(212, 212, 212, 0.46);
                     &:not(:empty) {
                        padding-bottom: 60px;
                     }
                     &.isOpen,
                     &:focus {
                        box-shadow: 0px 5px 4px 2px rgba(165, 165, 165, 0.384);
                        min-height: 100px;
                        outline: none;
                     }
                     &:not(:focus):empty:hover {
                        box-shadow: 0px 1px 2px 2px rgba(212, 212, 212, 0.46);
                     }
                     &:empty::before {
                        content: attr(placeholder);
                     }
                     &:hover:empty:not(:focus) {
                        cursor: pointer;
                     }
                  }
                  .send-comment {
                     position: absolute;
                     left: 40px;
                     bottom: 18px;
                  }
               }
               .comment-list {
                  .comment-preview {
                     display: flex;
                     .avatar {
                        position: relative;
                        right: 5px;
                     }
                     .comment-info {
                        flex-grow: 1;
                        .comment-info-header {
                           font-size: rem(16px);
                           font-weight: 700;
                           span {
                              font-weight: 500;
                              font-size: em(14px);
                              padding-left: 5px;
                              color: rgb(119, 118, 118);
                           }
                           padding-bottom: 8px;
                        }
                        .comment-info-txt {
                           background-color: #fff;
                           min-height: 30px;
                           padding: 10px;
                           box-shadow: 0px 1px 2px 1px rgba(212, 212, 212, 0.46);
                           outline:1px solid rgba(212, 212, 212, 0.46);
                           padding: 5px 10px;
                        }
                        .remove-comment {
                           font-size: em(14px);
                           text-decoration: underline;
                           color: rgb(100, 100, 100);
                        }
                        padding-bottom: 12px;
                     }
                  }
               }
            }
         }
      }
      .details-actions {
         grid-column: 3/4;
         grid-row: 2/3;
         &.is-cover{
            grid-row: 3/4;  
         }
         .add-to-card {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding-left: 8px;
            margin-bottom: 24px;
            position: relative;
         }
         .action-nav {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding-left: 8px;
         }

         .title {
            color: inherit;
         }
         label {
            cursor: pointer;
            background-color: rgba(9, 30, 66, 0.04);
            width: 170px;
            color: inherit;
            font-size: rem(18px);
            padding: 6px 12px;
            border-radius: 3px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 6px;
            .material-icons-outlined {
               font-size: 18px;
            }
            .attachments-icon {
               height: 18px;
               width: 18px;
            }
            &:hover {
               background-color: rgba(9, 30, 66, 0.075);
            }
         }
      }
   }
   .attachments-icon {
      transform: rotate(130deg);
   }
   .btn-details{
      background-color: rgba(9, 30, 66, 0.055);
      border-radius: 3px;
      height: 32px;
      width: 100px;
      color: #172b4da2;
      font-weight: 700;
      letter-spacing: 0.5px;
      &:hover {
         background-color: rgba(9, 30, 66, 0.1);
      }
      &.delete{
         width: 70px;
      }
   }
}
