* {
    box-sizing: border-box;
}

html {
    height: 100%;
    color: #172b4d;
    font-family: Segoe-UI;
    font-size: 14px;
    // line-height: 20px;
    font-weight: 400;
}

body {
    margin: 0;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: unset;
}

button {
    cursor: pointer;
    padding: 0;
    border: 0;
    background-color: inherit;
}
