* {
    box-sizing: border-box;
}

html {

}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1rem;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: unset;
}

button {
    cursor: pointer;
}