* {
    box-sizing: border-box;
}

html {
    height: 100%;
    color: #172b4d;
    font-family: Segoe-UI;
    font-size: 14px;
    // line-height: 20px;
    font-weight: 400;

    &::-webkit-scrollbar {
        display: none;
        height: 12px;
        width: 12px;
        /* width: 7.5px; */
        border-radius: 20px;
    }

    /* Track */

    &::-webkit-scrollbar-track {
        /* border-radius: 20px; */
        // background: #f1f1f1;
        // background: #ffffff;
        background: rgba(0, 0, 0, 0.2);
        //    background: rgba(0,0,0,.15);
        padding-top: 5px;
        border-radius: 7px;
    }

    // &::-webkit-scrollbar-track:hover {
    //     background-color: rgb(228, 228, 228);
    // }

    /* Handle */

    &::-webkit-scrollbar-thumb {
        background-color: #a3abaf7a;
        border-radius: 5px;
        display: none;
    }
}

body {
    margin: 0;
    height: 100%;
    line-height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: unset;
}

button {
    cursor: pointer;
    padding: 0;
    border: 0;
    background-color: inherit;
    font-family: inherit;
}

textarea {
    font-family: Segoe-UI;
    font-size: 1.25rem;
}

// .avatar {
//     object-fit: cover !important;
//     span {
//     }
// }

// Base class of vue-avatar
.vue-avatar--wrapper {
    span {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
}

ul {
    padding: 0;
    margin: 0;
}
