.btn-container {    
    border-radius: 3px;
    border: 0;
    text-decoration: none;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: none;
    color: #FFFFFF;
    display: flex;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin: 0 4px 0 0;
    padding: 0;
    white-space: nowrap;
    min-width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {   
        cursor: pointer;
        background-color: lighten(rgba(255, 255, 255, 0.377), 20);
    }
}

.material-icons {   
   font-size: 20px;
}

.grid-details{
   display: grid;
   grid-template-columns: 24px 1fr;
   grid-template-rows: 30px 1fr;
   >:nth-child(1){
      grid-column: 1;
      grid-row: 1;
   }
   >:nth-child(2){
      padding: 4px 0 4px 8px;
      grid-column: 2;
      grid-row: 1;
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 1.2rem;
   }
   >:nth-child(3){
      padding: 4px 8px;
      grid-column: 2;
      grid-row: 2;
   }
   margin-bottom: 24px;
}

.hover-pointer:hover {  
    cursor: pointer;
}