.card-checklist-edit{
   .card-edit-main{
      margin-top: 10px;
      .title{
         align-self:flex-start;
         font-size: 1rem;
         font-weight: 1000;
         color: #103075da !important;
      }
      input{
         margin: 0;
      }
   }
}