.card-cover-edit{
   main{
      .size{
         margin-top:20px;
         .title{
            margin-bottom: 5px;
         }
         .boards{
            display: flex;
            button{
               position: relative;
               &:first-child{
                  left:-3px;
               }
               padding: 3px;
               border-radius: 5px;
               &>*{
                  height: 75px;
                  width: 135px;
                  border-radius: 5px;
               }
               &.out-line{
                     box-shadow: 0px 0px 0px 2px $clr-outline;
               }
               .line{
                  background-color: gray;
                  border-radius: 2px;
                  height: 4px;
               }
               .lines{
                  display: flex;
                  flex-direction: column;
                  justify-content: space-around;
                  padding: 6px;
                  gap:4px;
                  .line1{
                     width: 90%;
                  }
                  .line2{
                     width: 70%;
                  }
                  .line3{
                     width: 12%;
                     height: 6px;
                     position:absolute;
                     bottom: 9px;
                  }
                  .line4{
                     width: 12%;
                     height: 6px;
                     position:absolute;
                     left:27px;
                     bottom: 9px;
                  }
               }
               .board-half{
                  .bgc{
                     border-radius: 5px;
                     height: 50%;
                  }
                  .circle{
                     height: 11px;
                     width: 11px;
                     border-radius: 7px;
                     background-color: gray;
                     position: absolute;
                     right: 8px;
                     bottom: 8px;
                  }
               }
               .board-full{
                  position: relative;
                  .lines{
                     position: absolute;
                     width: 100%;
                     bottom: 3px;
                     left:3px;
                  }
               }
            }
         }
      }
      .remove-cover{
         background-color: rgba(9, 30, 66, 0.055);
         color:#172b4dc2;
         height: 30px;
         margin-top: 7px;
         &:hover{
            background-color: rgba(9, 30, 66, 0.1);
         }
      }
      .colors-container{
         margin-top: 20px;
         .title{
            margin-bottom: 5px;
         }
         .colors{
            display: flex;
            flex-wrap: wrap;
            gap:8px;
            .color{
               width: 49px;
               height: 32px;
               border-radius: 3px;
            }
         }
      }
   }
}