// COLOR PALETTE
$clr-outline: #0079bf;
$clr1: rgba(0, 81, 255, 0.527);
$clr3: #FF9671;
$clr2: #FBEAFF;
$clr4: #00DF74;
$clr5: #845EC2;
$clr6: #008F7A;


// LAYOUT BREAKPOINTS
$break-phone: 460px;
$break-narrow: 670px;
$break-normal: 900px;
$break-wide: 1200px;