// COLOR PALETTE
$clr0: #4D8076;
$clr1: #008E9B;
$clr3: #FF9671;
$clr2: #FBEAFF;
$clr4: #00DF74;
$clr5: #845EC2;
$clr6: #008F7A;


// LAYOUT BREAKPOINTS
$break-phone: 460px;
$break-narrow: 670px;
$break-normal: 900px;
$break-wide: 1200px;