.app-header {
    background-color: #273240b0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #95959b;
    font-family: Segoe-UI-Bold;

    .nav {
        display: flex;
        align-items: center;

        & > button :first-child {
            padding: 0 8px 0 7.5px;
        }
        & > button :last-child {
            padding: 0 7.5px 0 0;
        }

        .wh {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .boards-icon {
            transform: rotate(90deg);
        }
        // .boards {
        // transform: rotate(90deg);
        // }
    }

    .logo {
        font-size: 1.4rem;
        height: 30px;
        margin-top: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        &:hover {
            color: rgb(206, 200, 200);
            // color: rgb(212, 204, 204);
            cursor: pointer;
        }
        // transition: rotate 2s;

        .logo-icon {
            -webkit-transition: -webkit-transform 0.8s ease-in-out;
            -ms-transition: -ms-transform 0.8s ease-in-out;
            transition: transform 0.8s ease-in-out;
            transform: rotate(90deg);
            font-size: 21px;
            margin-top: 0.5px;

            &:hover {
                transform: unset;
            }
        }
    }

    .header-features {
        display: flex;
        justify-content: center;
        align-items: center;
        // gap: 10px;

        & > button:first-child {
            font-weight: 100;
            font-size: 24px;
            transition: background-color .15s;

            &:hover {
                background-color: darken(rgba(255, 255, 255, 0.3), 15);
            }
        }

        & > .avatar:nth-child(2) {  
            margin-right: 4px;
        }
    }
}
