.app-header {
    background-color: #273240b0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #95959b;

    .nav {  
        display: flex;

        .boards {   
            // overflow: hidden;
            // padding: 0 8px 0 2px;
            // max-width: 150px
        }
    }

    .logo { 
        font-family: Segoe-UI-Bold;
        font-size: 1.5rem;
        height: 30px;
        margin-top: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
    }

    .header-features {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}
