.board-compose-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.64);
    color: #172b4d;
    overflow-y: scroll;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr minmax(300px, 700px) 100px;
    grid-template-rows: 150px 25px ;
    z-index: 3;
    .board-compose {
        width: 405px;
        grid-column: 2;
        grid-row: 1;
        z-index: 25;
        cursor: auto;
        height: 300px;

        // background-color: #f4f5f7;
        color: #ffffff;
        transform: translateY(16%);

        display: grid;
        grid-template-columns: repeat(3, 1fr), 100px;
        grid-template-rows: 95px 1fr 180px;
        // padding: 1rem;
        border-radius: 2px;
        row-gap: 8px;

        .board-compose-preview {
            grid-column: 1/4;
            background-color: violet;
            background-image: url("../assets/mountains-stars-bc.jpg");
            background-size: cover;
            border-radius: 3px;
            // margin-right: 9px;
        }

        .board-compose-bcgs {
            // border-radius: 3px;
            grid-column: 4;
            grid-row: 1;
            // display: grid;

            // margin: 0 0 0 8px;

            // grid-template-columns: 1fr 1fr 1fr;
            // grid-template-rows: 1fr 1fr 1fr;
            // justify-items: start;
            // align-items: center;

            width: 100px;
            height: 96px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style: none;
            margin: 0 0 0 8px;

            & > :nth-child(1) {
                @include random-bgr();
                @include bcg-preview();
                grid-column: 1;
                grid-row: 1;
            }
            & > :nth-child(2) {
                @include random-bgr();
                @include bcg-preview();
                grid-column: 2;
                grid-row: 1;
            }
            & > :nth-child(3) {
                @include random-bgr();
                @include bcg-preview();
                grid-column: 3;
                grid-row: 1;
            }
            & > :nth-child(4) {
                @include random-bgr();
                @include bcg-preview();
                grid-column: 1;
                grid-row: 2;
            }
            & > :nth-child(5) {
                @include random-bgr();
                @include bcg-preview();
                grid-column: 2;
                grid-row: 2;
            }
            & > :nth-child(6) {
                @include random-bgr();
                @include bcg-preview();
                grid-column: 3;
                grid-row: 2;
            }
            & > :nth-child(7) {
                @include random-bgr();
                @include bcg-preview();
                grid-column: 1;
                grid-row: 3;
            }
            & > :nth-child(8) {
                @include random-bgr();
                @include bcg-preview();
                grid-column: 2;
                grid-row: 3;
            }
            & > :nth-child(9) {
                @include random-bgr();
                @include bcg-preview();
                grid-column: 3;
                grid-row: 3;
            }
        }

        .compose-btn {
            border-radius: 3px;
            grid-row: 2;
            background-color: #fff;
        }
    }
}
