.board-compose-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.64);
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    z-index: 10;
    .board-compose {
      min-width: 400px;
      grid-column: 2;
      position: relative;
      z-index: 25;
      cursor: auto;
      height:fit-content;
      margin-top: 6%;
      transform: translateY(16%);
      display: flex;
      flex-direction: column;
      border-radius: 2px;
      row-gap: 8px;

      .board-compose-preview {
         // background-image: url("../assets/mountains-stars-bc.jpg");
         background-size: cover;
         border-radius: 3px;
         height: 120px;
         width: 300px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         padding: 8px;
         position: relative;
         .el-input{
            width: 90%;
            input{
               height: 30px;
               font-weight: bold;
               font-size: 1rem;
               color:#fff;
               background-color: inherit;
               border:0;
               &:hover{
                  background-color: rgba(194, 194, 194, 0.438);
               }
            }
         }
         .compose-btn{
            width: 170px;
            padding: 8px;
         }
         .change-colors{
            width: 100px;
            position: absolute;
            right: 0px;
            bottom: 8px;
            font-size: 0.9rem;
            &:focus{
               background-color: #0079bf;
               &:hover{
                  background-color: darken(#0079bf, 5);
               }
            }
         }
         .close-compose{
            padding:5px;
            color:rgba(255, 255, 255, 0.623);
            background-color: unset;
            font-size: rem(20px);
            position: absolute;
            right: 5px;
            top: 10px;
            cursor: pointer;
         }
      }
      .backgrounds{
         width: 300px;
         display: grid;
         gap:10px;
         grid-template-columns: 3fr 1fr;
         background-color: rgba(219, 219, 219, 0.295);
         padding: 10px;
         padding-bottom: 6px;
         border-radius: 5px;
      
        .board-compose-bgcs,.board-compose-imgs {
            height: 100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style: none;
        }
         .board-compose-imgs {
            grid-column: 1;
            width: 170px;

           &>*{
               cursor: pointer;
               background-size: cover;
               @include img-preview();
            }
         }
         .board-compose-bgcs{
            grid-column: 2;
            width: 100px;
     
            &>*{
               cursor: pointer;
               background-size: cover;
               @include bcg-preview();
            }
         }
      }
   }
}
