.board-header {
    height: auto;
    padding: 8px 4px 0 8px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .board-section {
        margin-top: .5px;
    }

    .board-members-section {
        display: flex;
    }

    .board-header-btn {
        // font-size: 18px;
        // font-weight: 700;
        // line-height: 32px;
        // padding: 0 12px;
        // width: fit-content;
        // font-family: 'Segoe-UI-Bold';
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 3px;
        color: #fff;
        // outline: $clr-outline;
        cursor: pointer;
        // cursor: default;
        float: left;
        font-size: 18px;
        height: 32px;
        line-height: 32px;
        margin: 0 4px 4px 0;
        // max-width: 400px;
        // overflow: hidden;
        // padding-left: 32px;
        padding: 0 12px;
        margin-block-end: 0.67em;
        position: relative;
        text-decoration: none;
        text-overflow: ellipsis;

        // First button on board-header in Trello
        // width: fit-content;
        // font-size: 18px;
        // padding-right: 5px;
        // padding-left: 5px;
        // float: left;
        // display: inline-flex;
        // margin-right: 4px;
        // white-space: nowrap;

        // & > span:first-child {
        //     display: inline-flex;
        //     height: 100%;
        //     width: 100%;
        //     justify-content: center;
        //     align-items: center;
        //     flex-direction: row;
        // }

        // & > span:nth-child(2) {
        //     display: inline-flex;
        //     height: 100%;
        //     width: 100%;
        //     padding: 0 0 0 2px;
        // }

        // & > span:last-child {
        //     margin-left: 4px;
        // }
        &:hover {
            background-color: rgba(255, 255, 255, 0.377);
            // background-color: hsla(0,0%,100%,.32);
            // opacity: 0.8;
        }

        &.star {
            padding: 0 6.5px;
            font-size: 19px;
        }
        &.star.selected {
            color: yellow;
        }
    }

    .seperator {
        color: hsla(0, 0%, 100%, 0.24);
        margin: 5px 8px 12px 4px;
        font-size: 14px;
    }

    .members-section {
        // position:absolute;
        // left:50%;
        // transform: translate(-50%);
        cursor: pointer;
        font-size: 14px;
        display: flex;
        position: relative;

        .avatars {
            display: flex;
            flex-direction: row;
            margin-top: 2.75px;
            > * {
                //move avatars a bit override each other
                margin-left: -2px;
                &:hover {
                    opacity: 0.8;
                }
            }
        }

        & .invite-btn {
            font-size: 14px;
            margin-left: 7px;
            margin-top: .5px;
        }

        .members-popup {
            left: calc(100% - 62px);
            top: 38px;
            z-index: 5;
        }
    }

    .menu-section {
        cursor: pointer;
        font-size: 14px;
        display: flex;
        align-items: center;
        padding-left: 8px;
        margin-top: -1.25px;

        .title {
            margin-right: 8px;
            font-size: 18px;
        }


        .slide-enter-active,
        .slide-leave-enter {
            transform: translateX(0);
            transition: all 0.2s linear;
        }

        .slide-enter,
        .slide-leave-to {
            transform: translateX(100%);
            transition: all 0.2s linear;
        }

        .slide-right-enter-active,
        .slide-right-leave-enter {
            transform: translateX(0);
            transition: all 0.1s linear;
        }

        .slide-right-enter,
        .slide-right-leave-to {
            transform: translateX(-100%);
            transition: all 0.1s linear;
        }

        .slide-from-right-enter-active,
        .slide-from-right-leave-enter {
            transform: translateX(0);
            transition: all 0.1s linear;
        }

        .slide-from-right-enter,
        .slide-from-right-leave-to {
            transform: translateX(100%);
            transition: all 0.1s linear;
        }
    }
    .dashboard{
      padding: 7px;
      span {    
          font-size: 18px;
      }
   }
}
