.board-compose-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.64);
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    z-index: 3;
    .board-compose {
      min-width: 400px;
      grid-column: 2;
      position: relative;
      z-index: 25;
      cursor: auto;
      height:fit-content;
      margin-top: 6%;
      transform: translateY(16%);
      display: flex;
      flex-direction: column;
      border-radius: 2px;
      row-gap: 8px;

      .board-compose-preview {
         background-color: violet;
         // background-image: url("../assets/mountains-stars-bc.jpg");
         background-size: cover;
         border-radius: 3px;
         height: 100px;
         width: 300px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         padding: 8px;
         position: relative;
         .el-input{
            width: 90%;
            input{
               height: 30px;
               font-weight: bold;
               font-size: 1rem;
               color:#fff;
               background-color: inherit;
               border:0;
               &:hover{
                  background-color: rgba(194, 194, 194, 0.438);
               }
            }
         }
         .compose-btn{
               width: 110px;
               padding: 8px;
         }
         .chage-colors{
            width: 110px;
            padding: 8px;
            position: absolute;
            right: 8px;
            bottom: 8px;
         }
         .close-compose{
            padding:5px;
            color:rgba(255, 255, 255, 0.623);
            background-color: unset;
            font-size: rem(20px);
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
         }
      }
      .backgrounds{
         display: flex;
         gap:100px;
         // justify-content: space-between;
         .board-compose-bcgs,.board-compose-imgs {
            width: 100px;
            height: 100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style: none;
            &>*{
               cursor: pointer;
            }
            & > :nth-child(1) {
                  // @include random-bgr();
                  @include bcg-preview();
                  grid-column: 1;
                  grid-row: 1;
               }
               & > :nth-child(2) {
                  // @include random-bgr();
                  @include bcg-preview();
                  grid-column: 2;
                  grid-row: 1;
            }
            & > :nth-child(3) {
                  // @include random-bgr();
                  @include bcg-preview();
                  grid-column: 3;
                  grid-row: 1;
            }
            & > :nth-child(4) {
                  // @include random-bgr();
                  @include bcg-preview();
                  grid-column: 1;
                  grid-row: 2;
            }
            & > :nth-child(5) {
                  // @include random-bgr();
                  @include bcg-preview();
                  grid-column: 2;
                  grid-row: 2;
            }
            & > :nth-child(6) {
                  // @include random-bgr();
                  @include bcg-preview();
                  grid-column: 3;
                  grid-row: 2;
            }
            & > :nth-child(7) {
                  // @include random-bgr();
                  @include bcg-preview();
                  grid-column: 1;
                  grid-row: 3;
            }
            & > :nth-child(8) {
                  // @include random-bgr();
                  @include bcg-preview();
                  grid-column: 2;
                  grid-row: 3;
            }
            & > :nth-child(9) {
                  // @include random-bgr();
                  @include bcg-preview();
                  grid-column: 3;
                  grid-row: 3;
            }
         }
      }
   }
}
