.card-compose-btn {
    width: 263px;
    align-self: baseline;
    display: flex;
    justify-content: baseline;
    align-items: center;
    color: #5e6c84;
    border-radius: 3px;
    padding: 4px 7px;
    margin: 1.5px 0 8px 8.2px;
    &:hover {
        cursor: pointer;
        background-color: darken(#ebecf0, 5);
    }
}
.card-compose {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    textarea {
        font-size: 14px;
      //   padding: 6px 8px 6px;
        padding: 6px 8px 2px;
        color: #4b5a74;
        text-decoration: none;
        border-radius: 3px;
        border: 0px;
        outline: none;
        border-radius: 3px;
        background-color: #ffffff;
        overflow: hidden;
        overflow-wrap: break-word;
        resize: none;
        height: 66px;
        font-size: 14px;
        max-width: 253px;

        &:placeholder-shown {
            font-family: Segoe-UI;
            font-size: 14px;
        }
    }

    .compose-features {
        align-self: baseline;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;

        & button:first-child {
            margin: 0px 0px 8px 8px;
        }
        & button:nth-child(2) {
            // color: #7e899b;
            // padding-bottom: 10px;
            color: rgb(151, 151, 151);
            margin-bottom: 10px;
            font-size: 24px;
        }

        & button:nth-child(2):hover {
            // color: rgb(105, 105, 105);
            color: darken(rgb(151, 151, 151), 30);
        }

        .card-compose-options-btn {
            position: absolute;
            bottom: 11px;
            right: 16px;
            font-size: 24.5px;
            padding: 3px;
            border-radius: 3px;
            color: #6b778c;
            &:hover {
                background-color: darken(#ebecf0, 7.5);
                color: rgb(48, 46, 46);
                cursor: pointer;
            }
        }
    }
}
