.card-preview-edit{
      z-index: 15;
      position:absolute;
      display: flex;
      width: 430px;
      .main-textarea{
         width: 254px;
         padding: 5px;
         min-height: 100px;
         font-size: 1.1rem;
         resize: none;
         background-color: rgb(238, 238, 238);
         border-radius: 3px;
         overflow-wrap: break-word
         
      }
      .save{
         margin-top: 10px;
      }
      nav{
         button{
            background-color: rgba(0,0,0,.6);
            color:#e6e6e6;
            border-radius: 3px;
            display: block;
            height: 30px;
            margin: 0 0 4px 8px;
            padding: 6px 12px 6px 8px;
            transition: transform 85ms ease-in;
            &:hover{
               transform: translateX(10px);
               transition: transform 85ms ease-in;
            }
         }
      }
}