.popup {
    // Popup layout
    display: grid;
    grid-template-columns: 12px 1fr 12px;
    grid-template-rows: 45px 45px 1fr;
    position: absolute;
    top: 25px;
    left: 0;
    width: 305px;
    border-radius: 3px;
    min-height: 200px;

    border: 1px solid rgba(194, 194, 194, 0.5);
    box-shadow: 0 8px 12px -4px rgba(212, 212, 212, 0.46);
    background: #fff;
    border-radius: 3px;
    overflow: hidden;

    & > :nth-child(1) {
        grid-column: 2;
        grid-row: 1;
        align-self: normal;
        width: 100%;
        height: 100%;
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(9, 30, 66, 0.13);
        position: relative;
    }
    & > :nth-child(2) {
        grid-column: 1/4;
        grid-row: 2/4;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: start;
        padding: 0 12px 12px 12px;
        overflow-y: auto;
        // Need to make it fit screen height and scroll when needed, after dynamic cmps are placed correctly
        // max-height: 350px;


        // Main scrollbar style:
        &::-webkit-scrollbar {
            height: 8px;
            width: 8px;
            border-radius: 3px;
        }

        &::-webkit-scrollbar-track {
            background: rgba(9, 30, 66, 0.08);
            border-radius: 3px;
            margin-left: 100%;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #bfc4ce;
            border-radius: 6px;
            height: 195px;
        }

        &::-webkit-scrollbar-button {
            display: block;
            height: 4px;
            width: 4px;
        }
    }
}
// Extra style w/o main popup layout

// Header - (:nth-child(1))
.card-edit-header {
    position: relative;
}

// Header btns
.close-popup-btn {
    color: #6c7a92;
    font-weight: 100;
    font-size: 18px;
    position: absolute;
    top: 6.5px;
    right: -6.5px;
    padding: 7.5px;

    &:hover {
        color: darken(#6c7a92, 50);
        cursor: pointer;
    }
}

.back {
    // color: #7f8ba0;
    color: #6c7a92;
    font-weight: 100;
    font-size: 15px;
    position: absolute;
    top: 8px;
    left: -3px;
    padding: 7.5px;

    &:hover {
        color: darken(#6c7a92, 50);
        cursor: pointer;
    }
}

// Main content - (:nth-child(2))
.card-edit-main {
    // Popup main content btn-1:
    .popup-btn-1 {
        font-size: 14px;
        color: #172b4d;
        border-radius: 3px;
        padding: 6px 78px;
        background-color: #f5f6f8;
        margin-top: 11px;
        margin-bottom: 5px;

        &:hover {
            background-color: darken(#f5f6f8, 4);
        }
    }
    // Main content input (Search)
    input {
        outline: none;
        border: none;
        box-shadow: inset 0 0 0 2px #dfe1e6;
        background-color: #fafbfc;
        box-sizing: border-box;
        -webkit-appearance: none;
        border-radius: 3px;
        display: block;
        line-height: 20px;
        margin-top: 10px;
        padding: 8px 12px;
        transition-property: background-color, border-color, box-shadow;
        transition-duration: 85ms;
        transition-timing-function: ease;
        grid-column: 2;
        grid-row: 2;
        width: 100%;
        transition: background-color 0.1s;
        &:hover:not(:focus) {
            background-color: #ebecf0;
            box-shadow: inset 0 0 0 2px #dfe1e6;
        }

        &:focus {
            box-shadow: inset 0 0 0 2px $clr-outline;
        }
    }

    // this h4 is only rendered when we ar eon popup-list-layout-2 (popup-edit mode)
    h4 {
        font-weight: 700;
        color: #5e6c84;
        font-size: 12px;
        line-height: 16px;
        margin-top: 12px;
        margin-bottom: 4px;
        display: block;
        align-self: start;
    }
    // Main content list (Mebmbers, lables, etc..)
    ul {
        width: 100%;
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: stretch;

        // List scrollbar
        // &::-webkit-scrollbar {
        //     height: 8px;
        //     width: 8px;
        //     border-radius: 3px;
        // }

        // &::-webkit-scrollbar-track {
        //     background: rgba(9, 30, 66, 0.08);
        //     border-radius: 3px;
        //     margin-left: 100%;
        // }

        // &::-webkit-scrollbar-thumb {
        //     background-color: #bfc4ce;
        //     border-radius: 6px;
        //     height: 195px;
        // }

        // &::-webkit-scrollbar-button {
        //     display: block;
        //     height: 4px;
        //     width: 4px;
        // }
        // List title
        h4 {
            color: #5e6c84;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            line-height: 16px;
            margin: 16px 0 8px;
        }
        // Previews in list
        .card-member-preview {
            display: flex;
            align-items: center;
            // gap: 7px;
            position: relative;
            border-radius: 3px;
            width: 100%;
            height: 40px;
            padding: 4px;
            margin-bottom: 2px;
            justify-content: space-between;

            &:hover {
                background-color: rgba(9, 30, 66, 0.04);
                cursor: pointer;
            }
            .member-name {
                display: flex;
                align-items: center;
                gap: 7px;
            }
            // Checked user as member of card icon:
            .check-member-icon {
                margin-right: 10px;
                font-size: 14px;
            }
        }
        .card-label-preview {
            width: 100%;
            cursor: pointer;
            font-weight: 700;
            margin: 0 0 4px;
            justify-content: space-between;
            min-height: 30px;
            position: relative;
            display: flex;
            color: #ffffff;
            font-family: Segoe-UI-Bold;
            gap: 4px;
            &:hover {
                // Need to find a way to make box-shadow be darkened from inherit bcg, cant put inherit inside darken
            }

            & > span:first-child {
                transition: padding 85ms, margin 85ms, box-shadow 85ms;
                // width: 85%;
                border-radius: 3px;
                padding: 6px 12px;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                &:hover {
                    margin-left: 4px;
                    box-shadow: -8px 0 darken(#ffffff, 20);
                }
            }

            & > span:last-child {
                font-size: 16px;
                padding: 9px;
                border-radius: 3px;
                &:hover {
                    background-color: darken(#ebecf0, 7.5);
                }
            }
        }
    }

    // Layout for edit page (labels)
    ul.popup-list-layout-2 {
        display: flex;
        flex-direction: row;
        max-width: 280px;
        flex-wrap: wrap;

        h4 {
            font-weight: 700;
            color: #5e6c84;
            font-size: 12px;
            line-height: 16px;
            margin-top: 12px;
            margin-bottom: 4px;
            display: block;
        }

        .edit-label-color-preview {
            border-radius: 3px;
            box-sizing: border-box;
            display: block;
            float: left;
            font-weight: 600;
            height: 32px;
            line-height: 32px;
            margin: 0 4px 4px 0;
            min-width: 40px;
            padding: 0 12px;
            width: auto;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 8px 8px 0;
            padding: 0;
            width: 46px;

            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }

            &.no-color {
                margin-bottom: 10px;
            }

            .checked-color-icon {
                font-size: 13px;
                color: #ffffff;
            }
        }
        .edit-labels-no-color-section {
            p {
                color: #5e6c84;
            }
        }
    }
    .edit-btns {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        .save-btn {
            padding: 8px 24px;
            // background-color: black;
        }
        .remove-btn {
            padding: 6px 11px;
        }
    }
}
