.card-preview {
    overflow: hidden;
    padding: 6px 8px 2px;
    position: relative;
    background-color: #ffffff;
    margin: 0 9.5px;
    border-radius: 3px;
    color: #54637c;
    min-height: 60px;
    transition: background-color 0.1s;
    box-shadow: 0 1px 0 #c0c6d0;
    margin-bottom: 8px;
   //  max-width: 250px;
    display: flex;
    flex-direction: column;
    // z-index: 10;
    &:hover {
        cursor: pointer;
        background-color: #c1cde023;
    }
    .card-preview-title{
       height: 30px;
    }
    .img-preview{
       width: 100%;

    }
}
