.group-list {
    &:first-child {
        margin-left: 8px;
    }
    background-color: #ebecf0;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    white-space: normal;
    position: relative;
    max-height: calc(100vh - 120px);
    height: fit-content !important;
    position: relative;
    width: 272px;
    .group-header {
        flex: 0 0 auto;
        padding: 10px 8px;
        position: relative;
        min-height: 20px;

        // h2 {
        //     font-size: 14px;
        // border-radius: 3px;
        //     margin-left: 9.5px;
        //     color: #263858;
        // }

        .group-title {
            background: transparent;
            border-radius: 3px;
            box-shadow: none;
            // In trello they dont use the bold font, but when we do it, it looks kind of blurred
            // font-family: Segoe-UI-Bold;
            // font-weight: 600;
            color: #43536f;
            margin: -4px 0;
            min-height: 20px;
            padding: 4px 8px;
            resize: none;
            min-height: -webkit-fit-content;
            min-height: -moz-fit-content;
            min-height: fit-content;
            max-height: 256px;
            overflow-y: auto;
            overflow-wrap: break-word;
            max-height: 200px;
            max-width: 30ch;
            font-size: 14px;
            color: #172b4d;
            cursor: pointer;
            border-radius: 3px;

            &:focus {
                // padding: 5px;
                background-color: #fff;
                outline: 2px solid $clr-outline;
                cursor: text;
            }
            &:empty {
                // padding: 8px 12px;
                background-color: rgb(231, 231, 231);
                &::before {
                    content: attr(placeholder);
                }
                &:hover {
                    background-color: rgb(223, 223, 223);
                }
            }
        }
    }

    .group-extras-menu {
        position: absolute;
        top: 4px;
        right: 4px;
        color: #6b778c;
        border-radius: 3px;
        padding: 6px 6px 6px 8.2px;
        font-size: 17px;
        width: 32px;
        height: 32px;
        line-height: 1.25;

        &:hover {
            background-color: darken(#ebecf0, 7.5);
            cursor: pointer;
            // color: rgb(22, 21, 21);
            color: rgb(48, 46, 46);
        }
    }

    .card-preview-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        overflow-y: auto;
        max-width: 272px;
        margin: 0 4px;

        &::-webkit-scrollbar {
            // height: 12px;
            // width: 12px;
            height: 8px;
            width: 8px;
            /* width: 7.5px; */
            // border-radius: 20px;
            border-radius: 3px;
        }

        /* Track */

        &::-webkit-scrollbar-track {
            /* border-radius: 20px; */
            // background: #f1f1f1;
            // background: #ffffff;
            //    background: rgba(0,0,0,.3);
            background: rgba(9, 30, 66, 0.08);
            //    background: rgba(0,0,0,.15);
            border-radius: 3px;
            width: 100%;
            // margin-left: 100%;
        }

        // &::-webkit-scrollbar-track:hover {
        //     background-color: rgb(228, 228, 228);
        // }

        /* Handle */

        &::-webkit-scrollbar-thumb {
            /* border-radius: 130px; */
            // margin-left: -14px;
            // background-color: darkgoldenrod;
            // background: linear-gradient(
            //     0deg,
            //     rgba(34, 195, 191, 1) 0%,
            //     rgb(59, 85, 84) 30%,
            //     rgb(126, 56, 167) 70%,
            //     rgb(243, 97, 214) 100%
            // );
            background-color: #bfc4ce;
            // border-radius: 5px;
            border-radius: 6px;
            height: 195px;
        }

        &::-webkit-scrollbar-button {
            display: block;
            height: 4px;
            width: 4px;
        }
    }
}
