.group-compose-btn {
    height: fit-content;
    margin-left: 8px;
    .group-compose-btn-content {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 13px 7px 13px 10.5px;
        min-width: 272px;
        font-weight: 500;
        height: 40px;
        // transition: background 85ms ease-in, opacity 40ms ease-in, border-color 85ms ease-in;
        // transform: scaleY();
        transform-origin: top;
        transition: transform 0.26s ease;

        &:hover {
            transform: scaleY(1.025);
        }
        span:first-child {
            padding-right: 3px;
            font-size: 19px;
        }
    }

    &.unset-margin {
        margin: 0px 0px !important;
    }
}

.group-compose {
    background-color: #ebecf0;
    border-radius: 3px;
    height: auto;
    min-height: 32px;
    padding: 4px;
    transition: background 85ms ease-in, opacity 40ms ease-in, border-color 85ms ease-in;

    min-width: 272px;
    margin: 0 8px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;

    height: fit-content;
    min-height: 32px;
    transition: background 120ms ease-in-out, opacity 40ms ease-in, border-color 85ms ease-in;

    input {
        // background-color: #fff;
        // display: block;
        // margin: 0;
        // transition: margin 85ms ease-in, background 85ms ease-in;
        // width: 100%;
        // border-radius: 3px;
        transition: background 120ms ease-in-out, opacity 40ms ease-in, border-color 85ms ease-in;
        &:not([type="file"]),
        textarea {
            outline: none;
            width: 100%;
            border: none;
            box-shadow: inset 0 0 0 2px #dfe1e6;
            box-shadow: inset 0 0 0 2px #0079bf;
            background-color: #fafbfc;
            box-sizing: border-box;
            -webkit-appearance: none;
            border-radius: 3px;
            display: block;
            line-height: 20px;
            margin-bottom: 4px;
            padding: 8px 12px;
            // transition-property: background-color, border-color, box-shadow;
            // transition-duration: 85ms;
            // transition-timing-function: ease;
            transition: background 120ms ease-in-out, opacity 40ms ease-in, border-color 85ms ease-in;
        }
    }
    
            &.unset-margin {
                margin: 0px 0px !important;
            }

    .compose-features {
        display: flex;

        button:last-child {
            color: #42526e;
            font-size: 24px;
            padding-bottom: 5px;

            &:hover {
                color: darken(#42526e, 15);
            }
        }
    }
}
