.group-list {
    background-color: #ebecf0;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    white-space: normal;
    min-width: 272px;
    position: relative;
    height: fit-content;
    max-height: calc(100vh - 112.5px);

    .group-header {
        flex: 0 0 auto;
        padding: 10px 8px;
        position: relative;
        min-height: 20px;

        h2 {
            font-size: 14px;
            margin-left: 9.5px;
            color: #263858;
        }
    }

    .group-extras-menu {
        position: absolute;
        top: 3.5px;
        right: 4px;
        // color: #6b778c;
        color: #6b778c;
        border-radius: 3px;
        // float: left;
        padding: 6px;
        font-size: 16px;

        &:hover {
            background-color: darken(#ebecf0, 7.5);
            cursor: pointer;
            // color: rgb(22, 21, 21);
            color: rgb(48, 46, 46);
        }
    }

    .card-preview-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        overflow-y: scroll;

        & > :last-child {
            // margin-bottom: 8.25px;
            margin-bottom: 2.5px;
        }

        &::-webkit-scrollbar {
            // height: 12px;
            // width: 12px;
            height: 8px;
            width: 8px;
            /* width: 7.5px; */
            // border-radius: 20px;
            border-radius: 3px;
        }

        /* Track */

        &::-webkit-scrollbar-track {
            /* border-radius: 20px; */
            // background: #f1f1f1;
            // background: #ffffff;
            //    background: rgba(0,0,0,.3);
            background: rgba(9, 30, 66, 0.08);
            //    background: rgba(0,0,0,.15);
            border-radius: 3px;
            margin-left: 100%;
        }

        // &::-webkit-scrollbar-track:hover {
        //     background-color: rgb(228, 228, 228);
        // }

        /* Handle */

        &::-webkit-scrollbar-thumb {
            /* border-radius: 130px; */
            // margin-left: -14px;
            // background-color: darkgoldenrod;
            // background: linear-gradient(
            //     0deg,
            //     rgba(34, 195, 191, 1) 0%,
            //     rgb(59, 85, 84) 30%,
            //     rgb(126, 56, 167) 70%,
            //     rgb(243, 97, 214) 100%
            // );
            background-color: #bfc4ce;
            // border-radius: 5px;
            border-radius: 6px;
            height: 195px;
        }

        &::-webkit-scrollbar-button {
            display: block;
            height: 4px;
            width: 4px;
        }
    }
}
