.group-menu{
   z-index: 1;
   width: 70%;
   right: -58%;
   top:39px;
   left: unset;
   color: #091e42b7;
   .card-edit-main{
      justify-content:unset;
      grid-column: 1/-1;
      button{
         padding: 6px 12px;
         text-align: left;
         width: 100%;
         height: 32px;
         background-color: unset;
         color: inherit;
         font-weight: 600;
         font-size: 1rem;
         &:hover{
            background-color: rgba(9, 30, 66, 0.075);
         }
      }
   }  
}